DATABASE_URL="mysql://reglementari:parola_ta@10.0.0.245:3306/reglementari"
REGLEMENTARI_STORAGE_SHARE="//10.0.0.231/Documentatie"
REGLEMENTARI_STORAGE_DIR="/Volumes/Documentatie"
REGLEMENTARI_BULK_DIR="/Volumes/Documentatie/0_Reglementari"
